@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-general:#d9d9d9;
  --color-titulo: #0f084b;
  --color-texto:#231f20;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
}

body {
  background-color: var(--color-general);
  font-family: "Roboto", sans-serif; 
  width: 100vw;
  height: 100vh;
  display: flex;              /* Lo convierte en contenedor flex */
  flex-direction: column;     /* Para que el nav esté arriba, main al centro, footer abajo */
  align-items: center;        /* Centra horizontalmente */
  justify-content: center;    /* Centra verticalmente */
  overflow: hidden;
}

nav {
  width: 100vw;
  height: 10vh;
}

.navbar{
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 100vw;
  height: 100%;
 padding: 0 50px;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
}

/* Oculta inicialmente el contenido del dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  padding: 10px 0;
  
  top: 100%;
  left: 0;
  list-style: none;
}

/* Estilo para los enlaces dentro del dropdown */
.dropdown-content li a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* Efecto hover para mostrar el menú */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Hover sobre enlaces dentro del dropdown */
.dropdown-content li a:hover {
  background-color:var(--color-general);
}

.navbar a {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

 .navbar li {
  border: solid var(--color-texto);
  border-radius: 15px;
  padding: 10px 40px;
 }




 main{
  border: solid var(--color-titulo);
  width: 90vw;
  height: 85vh;
  display: flex;
  padding: 60px
  
 }


 .proyecto1 {

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:start;
  padding: 8px;
 }
 h1{

  font-size: 48px;
  color: var(--color-titulo);
  display: flex;
  text-align: left;
  margin-top: 20px;
 }

 .parrafo-proyecto{
  width: 65%;
  font-size: 19.2px;
  line-height: 1.5;
 }
 h2{
  font-size: 22.4px;
 }

 .descripcion {
  font-size:17.6px;

 }

 .descripcion ul li {
  margin-bottom: 8px;
}

 .foto {
  
  width: 50vw;  
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
  .foto img {
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: end;
  }
 
 
 footer{
  width:100vw ;
  height: 5vh;
  padding: 0 20px;
  display: flex;
  align-items:center;        /* Centra horizontalmente */   
  overflow: hidden; 
  justify-content: start;   /* Centra verticalmente */
 }







